/Library
/.vs
/.vscode
/Temp
/obj
*.csproj
*.sln
/Logs
.vsconfig
*.apk
Assets/ScriptObjects/SO_DebugConfig.asset
Assets/ScriptObjects/SO_DebugConfig.asset.meta
JsonData.json
.gitmodules
Assets/unity-adsfall
Assets/unity-adsfall.meta
Recordings/
Assets/ScriptObjects/SO_DebugMap.asset
Assets/ScriptObjects/SO_DebugMap.asset.meta
